<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Home{% endblock %} - DebtTracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//static-debt.scarlet.dev.richardwhiuk.com/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//static-debt.scarlet.dev.richardwhiuk.com/js/html5shiv.js"></script>
      <script src="//static-debt.scarlet.dev.richardwhiuk.com/js/respond.min.js"></script>
    <![endif]-->

    {% block css %}
    {% endblock %}
  </head>
  <body>

    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DebtTracker</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'add' instance.id '' %}">Add</a></li>
            <li><a href="{% url 'summary' instance.id %}">Summary</a></li>
            <li><a href="{% url 'detailed' instance.id %}">Detailed</a></li>
            <li><a href="{% url 'entries' instance.id %}">Entries</a></li>
            <li><a href="{% url 'changes' instance.id %}">Changes</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
    <h1>{% block header %}Home{% endblock %}</h1>

    {% block content %}

    {% endblock %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//static-debt.scarlet.dev.richardwhiuk.com/js/bootstrap.min.js"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
